<header class="header" id="header">
  <nav class="nav-container">
    <div class="logo">
      <a href="/" style="text-decoration: none; color: inherit;display: flex; align-items:center; gap: 0.5rem;">
        <div class="">
          <img src="/assets/images/asaosa-logo-nav.png" alt="ASAOSA Logo" style="width: 50px; height: 50px;">
        </div>
        <span>ASAOSA</span>
      </a>
    </div>
    <ul class="nav-menu" id="navMenu">
      <li><a href="/">Inicio</a></li>
      <li><a href="/about/">Nosotros</a></li>
      <li><a href="/junta-directiva/">Junta Directiva</a></li>
      <li><a href="/donacion/">Donación</a></li>
    </ul>
    <button class="mobile-menu-toggle" id="mobileMenuToggle" aria-label="Menú">
      ☰
    </button>
  </nav>
</header>